div img {
    height:300px;
    padding: 10px 10px 10px 10px;
}
.carousel-slide{
    display: flex;
    justify-content: center;
    margin-top: 10px;
   padding: 0px 10px 0px 10px;
   background-color: rgba(226, 226, 226, 0.801);
   box-shadow: 0 4px 8px 0 rgba(93, 92, 92, 0.2), 0 6px 20px 0 rgba(153, 152, 152, 0.19);
   width: 100%;
   position: relative;
}
