#product-container div{
    display:flex;
   float: left;

}
#product-container{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-top: 12px;
    position: relative;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
#product-container  img {
    height: 70px;
    width: 70px;
    z-index: -2;
    
}
 .product-para{
   color: black;
   font-weight: 500;
   font-size: 14px;
   text-align: center;
  padding: 0px;
}
#product-container a
{
    text-decoration: none;
}


